<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<body>
    <div id="data_table">
        <table>
            <thead>
                <tr>
                    <th>Roll</th>
                    <th>Result</th>
                </tr>
                {% for row in data %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                    </tr>
                {% endfor %}
            </thead>
        </table>
    </div>
</body>
</html>